<main class="contenedor">
    <form action='/auth/singup' method='POST' class='default-form'>
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Tu Nombre">

        </div>

        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu E-mail">
        </div>

        <div class="campo">
            <label>Contrasena</label>
            <input type="password" name="password" placeholder="Tu Contrasena">
        </div>

        <div class="campo">
            <label>Confirma tu contrasena</label>
            <input type="password" name="password2" placeholder="Tu Contrasena">
        </div>

        <div class="campo acciones">
            <a href="/auth/singin">Volver a Iniciar Sesion</a>
        </div>

        <div class="campo">
            <input type="submit" value="Registrarse" class='btn btn-azul'>
        </div>

    </form>
</main>