<main class="contenedor">
    <form action="/auth/restablecer-password" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder='Tu e-mail' required>
        </div>
        <div class="campo acciones">
            <a href='/auth/singup'>Crear una cuenta</a>
            <a href='/auth/singin'>Iniciar Sesion</a>
        </div>
        <div class="campo">
            <input type="submit" value="Recuperar" class='btn btn-azul'>
        </div>
    </form>
</main>